body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000066;
  background-color: #ccff33;
}
.section-main {
background-color: #556b2f; /* Задаемо колір фону */
display: flex; /* Вмикаемо Flexbox */
flex-direction: column; /* Розташовуємо елементи у стовпчик */
align-items: center; /* Центруемо по горизонталі */
margin-bottom: 30px;
}
.section-main-button {
background-color: #8fbc8f;
border: none;
border-radius: 25px; /* Округлення кутів */
color: #fff;
font-weight: bold;
text-transform: uppercase; /* Всі літери великі */
cursor: pointer; /* Зміна курсору при наведенні */
padding: 12px 30px;
}
.second-section {
  display: flex;
  margin: 30px;
justify-content: center;
flex-wrap: wrap; /* Дозволпє елементам переноситись на новий рядок */
}
.second-section-img {
  height: 500px;
}
.third-section-books {
display: flex;
justify-content: center;
flex-wrap: wrap; /* Дозволпє елементам переноситись на новий рядок */
}
.third-section-book {
display: flex;
flex-direction: column;
align-items: center;
margin: 10px 20px;
}
.book-img {
height: 200px; /* Забезпечує однакову висоту зображень */
}
.footer {
  display: flex;
justify-content: center;
flex-wrap: wrap; /* Дозволпє елементам переноситись на новий рядок */
}
.footer-button {
  background-color: #cc66ff;
border: none;
border-radius: 25px; /* Округлення кутів */
color: #fff;
font-weight: bold;
text-transform: uppercase; /* Всі літери великі */
cursor: pointer; /* Зміна курсору при наведенні */
padding: 12px 30px;

}
